body{
    margin: 0;
}



#navigation{
    display: flex;
    flex-direction: row;
    height: 10vh;
}

#content{
    background-color: grey;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
   
}

.picture{
    border-right: 2px solid white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    
}

#hidden{
 display: none;
 text-align: center;   
  }

span.red{
    color: red; 
    display: hidden ;
}


.one{
    background-image: url(images/las_meninas.jpg);
}

.two{
    background-image: url(images/mona_lisa.jpg);
}

.three{
    background-image: url(images/parnassus.jpg);
}

.four{
    background-image: url(images/the_kiss.jpg);
}

span.hidden{
    display: none;
}

@media(max-width: 500px){

   
      #navigation{
          display: flex;
          flex-direction: column;
          height: 40vh;
          overflow: auto;
         
      }

     #hidden{
         display: block;
         height: 20vh;
     }

     span.hidden{
        
    }
   
}